---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import Card from "@/components/temple/Card.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
---

<BaseLayout title="Home">
  <MainCard
    description="carpe diem, seize the day!"
    textOverlay="HOME"
    infoIcon="lucide:info"
  >
    <div class="flex flex-col items-center text-center">
      <h1
        class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
      >
        🌟 Hi~ សួស្តី (≧▽≦)
      </h1>
      <h1
        class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
      >
        I'm sixdayC，welcome to my blog！
      </h1>
    </div>
  </MainCard>
  <!-- 使用 Card.astro 组件 -->
  <Card class="p-6 mt-8 bg-base-200 shadow-md">
    <div class="flex flex-row gap-4 mt-4 justify-center">
      <LinkCard
        title="我的博客"
        desc="查看我的博客文章"
        url="/blog"
        icon="lucide:book"
        target="_self"
      />
      <LinkCard
        url="/about"
        title="关于我"
        desc="了解更多关于我"
        icon="lucide:user"
        target="_self"
      />
    </div>

    <div class="flex justify-center mt-4">
      <LinkCard
        url="/friend"
        title="友链"
        desc="查看我的朋友们"
        icon="lucide:link"
        target="_self"
      />
      <LinkCard
        url="/board"
        title="留言板"
        desc="给我留言吧！"
        icon="lucide:message-square"
        target="_self"
      />
    </div>
  </Card>
</BaseLayout>
